
# https://github.com/gcowan/RapidSim

acceptance : Any
energy : 14
geometry : LHCb
paramsDecaying : M, P, PX, PY, PZ, PT, eta, phi, theta, y, gamma, beta, theta, IP, SIGMAIP, FD 
paramsStable : P, PX, PY, PZ, PT, IP, MINIP, SIGMAIP, SIGMAMINIP, ProbNNpi, ProbNNk, ProbNNp

@0
  name : Lc
@1
  name : p
  smear : LHCbGeneric
  smear : LHCbGenericIP
@2
  name : K
  smear : LHCbGeneric
  smear : LHCbGenericIP
@3
  name : pi
  smear : LHCbGeneric
  smear : LHCbGenericIP

