
# https://github.com/gcowan/RapidSim
# cuts from 25103064 https://gitlab.cern.ch/lhcb-datapkg/Gen/DecFiles/-/blob/v30r87/dkfiles/Lc_pKpi=phsp,TightCutv2.dec
# ( for Xic 26103092 https://gitlab.cern.ch/lhcb-datapkg/Gen/DecFiles/-/blob/v30r87/dkfiles/Xic_pKpi=phsp,TightCutv3.dec )

acceptance : AllIn
energy : 13
geometry : LHCb
paramsDecaying : M, P, PX, PY, PZ, PT, eta, phi, y, gamma, beta, IP, SIGMAIP, FD 
paramsStable : P, PX, PY, PZ, PT, eta, phi, y, IP, MINIP, SIGMAIP, SIGMAMINIP

@0
  name : Lc
@1
  name : p
  smear : LHCbGeneric
  smear : LHCbGenericIP
@2
  name : K
  smear : LHCbGeneric
  smear : LHCbGenericIP
@3
  name : pi
  smear : LHCbGeneric
  smear : LHCbGenericIP



