
# https://github.com/gcowan/RapidSim
# cuts from 25103064 https://gitlab.cern.ch/lhcb-datapkg/Gen/DecFiles/-/blob/v30r87/dkfiles/Lc_pKpi=phsp,TightCutv2.dec
# ( for Xic 26103092 https://gitlab.cern.ch/lhcb-datapkg/Gen/DecFiles/-/blob/v30r87/dkfiles/Xic_pKpi=phsp,TightCutv3.dec )

acceptance : AllIn
energy : 13
geometry : LHCb
paramsDecaying : M, P, PX, PY, PZ, PT, eta, phi, y, gamma, beta, IP, SIGMAIP, FD 
paramsStable : P, PX, PY, PZ, PT, eta, phi, y, IP, MINIP, SIGMAIP, SIGMAMINIP

param : proton_P P 1
param :   kaon_P P 2
param :   pion_P P 3
param : proton_PT PT 1
param :   kaon_PT PT 2
param :   pion_PT PT 3
param : proton_eta eta 1
param :   kaon_eta eta 2
param :   pion_eta eta 3
param : lambdac_y y 0
param : lambdac_PT PT 0
param : lambdac_FD FD 0

# theta 0.005 0.400 = eta 1.596  5.991 = looser than the eta cut.
cut : proton_eta range 1.95 5.050
cut :   kaon_eta range 1.95 5.050
cut :   pion_eta range 1.95 5.050
cut : proton_PT min 0.3
cut :   kaon_PT min 0.3
cut :   pion_PT min 0.3
cut : proton_P min 9
cut :   kaon_P min 3
cut :   pion_P min 3
cut : lambdac_y range 1.9 4.6
cut : lambdac_PT min 3
cut : lambdac_FD min 0.090
# GTIME > 90 um = 0.30 ps, lifetime Lc = 0.20 ps (Xic = 0.45 ps).

@0
  name : Lc
@1
  name : p
  smear : LHCbGeneric
  smear : LHCbGenericIP
@2
  name : K
  smear : LHCbGeneric
  smear : LHCbGenericIP
@3
  name : pi
  smear : LHCbGeneric
  smear : LHCbGenericIP



#cut : p_theta range 0.005 0.400, K_theta range 0.005 0.400, pi_theta range 0.005 0.400, p_eta range 1.95 5.050, K_eta range 1.95 5.050, pi_eta range 1.95 5.050, p_PT min 0.3, K_PT min 0.3, pi_PT min 0.3, p_P min 9, K_P min 3, pi_P min 3

